<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{propertyController.property.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Customer Name: </td>

                        <td valign="bottom">
                            <h:inputText id = "CustomerName" value="#{propertyController.property.customerName}"  required="true"
                                         validatorMessage="Please enter a valid Customer Name"
                                         requiredMessage="Please enter the Customer Name. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street number: </td>
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{propertyController.property.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street address: </td>
                        <td valign="bottom">
                            <h:inputText id = "streetAddress" value="#{propertyController.property.address.streetAddress}" binding="#{streetAddress}" required="true"
                                         validatorMessage="Please enter a valid street address."
                                         requiredMessage="Please enter an street address. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Suburb: </td>
                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{propertyController.property.address.suburb}" binding="#{suburb}" required="true"
                                         validatorMessage="Please enter a valid suburb."
                                         requiredMessage="Please enter a suburb. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">State: </td>
                        <td valign="bottom">
                            <h:inputText id = "state" value="#{propertyController.property.address.state}" binding="#{state}" required="true"
                                         validatorMessage="Please enter a valid state."
                                         requiredMessage="Please enter a state. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Postcode: </td>
                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{propertyController.property.address.postcode}" binding="#{postcode}" required="true"
                                         validatorMessage="Please enter a valid postcode."
                                         requiredMessage="Please enter a postcode. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry Type: </td>

                        <td valign="bottom">
                            <h:inputText id = "IndustryType" value="#{propertyController.property.industryType}"  required="true"
                                         validatorMessage="Please enter a valid IndustryType"
                                         requiredMessage="Please enter the industry type. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>

                        <td valign="bottom">
                            <h:inputText id = "CustomerPhoneNum" value="#{propertyController.property.customerPhoneNum}"  required="true"
                                         validatorMessage="Please enter a valid CustomerPhoneNum"
                                         requiredMessage="Please enter the Customer PhoneNum. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email: </td>

                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{propertyController.property.email}"  required="true"
                                         validatorMessage="Please enter a valid Email"
                                         requiredMessage="Please enter the Email. "></h:inputText>    
                        </td>
                    </tr>
                   
					<tr>
                        <td width ="100" valign="top">Contact Person: </td>
                        <td>
                            <h:selectOneMenu id="contact" value="#{propertyController.property.contactPerson}" converter="contactPerson">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{propertyManagedBean.allContactPeople}" var="c"  
                                               itemLabel="#{c.name}" itemValue="#{c}" />
                            </h:selectOneMenu>
                        </td>
                    </tr>       
					
                    </table>
                    
                
                <h:commandButton id="save" value="Save" action="#{propertyManagedBean.editProperty(propertyController.property)}"  class="btn btn-primary" >
                    <f:param name="propertyID" value="#{propertyController.propertyId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

