<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Property
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                	<tr class="#{!customerName.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="customerName" for="customerName" /></td>
							<td><h:inputText id="customerName" value="#{property.customerName}"
									title="customerName" required="true"
									requiredMessage="Please enter the Customer Name!"
									pt:placeholder="Customer Name" /> <br /> <h:message
									for="customerName"
									class="#{!customerName.valid ? 'label label-warning' : 'none'}" />
							</td>
					</tr>
					<tr class="#{!industryTypee.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="industryType" for="industryType" /></td>
							<td><h:inputText id="industryType" value="#{property.industryType}"
									title="industryType" required="true"
									requiredMessage="Please enter the Industry Type!"
									pt:placeholder="Industry Type" /> <br /> <h:message
									for="industryType"
									class="#{!industryType.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>
						<tr class="#{!customerPhoneNum.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="customerPhoneNum" for="customerPhoneNum" /></td>
							<td><h:inputText id="customerPhoneNum" value="#{property.customerPhoneNum}"
									title="customerPhoneNum" required="true"
									maxlength="9"
									requiredMessage="Please enter the Phone Number!"
									validatorMessage="Please enter a 10 digit phone number! "
									converterMessage="Please enter a number"
									pt:placeholder="0123456789" > 
									<f:convertNumber integerOnly="true" /> 
									<f:validateLength minimum="9" maximum="9" />
									</h:inputText> <br /> <h:message
									for="customerPhoneNum"
									class="#{!customerPhoneNum ? 'label label-warning' : 'none'}" />
							</td>
						</tr>
						<tr class="#{!email.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="email" for="email" /></td>
							<td><h:inputText id="email" value="#{property.email}"
									title="email" required="true"
									requiredMessage="Please enter the Email!"
									pt:placeholder="email" /> <br /> <h:message
									for="email"
									class="#{! email? 'label label-warning' : 'none'}" />
							</td>
						</tr>
                   <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
							<td width="200"><h:outputLabel value="streetNumber"
									for="streetNumber" /></td>
							<td><h:inputText id="streetNumber"
									value="#{property.streetNumber}" title="streetNumber"
									required="true"
									requiredMessage="Please enter the street number!"
									validatorMessage="Please enter a street number between 1 and 1000"
									converterMessage="Please enter a number" pt:placeholder="900">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="1" maximum="1000" />
								</h:inputText> <br /> <h:message for="streetNumber"
									class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
							</td>
						</tr>

						<tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="streetAddress" for="streetAddress" />
							</td>
							<td><h:inputText id="streetAddress"
									value="#{property.streetAddress}" title="streetAddress"
									required="true"
									requiredMessage="Please enter the street address!"
									pt:placeholder="Dandenong Rd" /> <br /> <h:message
									for="streetAddress"
									class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>

						<tr class="#{!suburb.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="suburb" for="suburb" /></td>
							<td><h:inputText id="suburb" value="#{property.suburb}"
									title="suburb" required="true"
									requiredMessage="Please enter the suburb!"
									pt:placeholder="Caulfield East" /> <br /> <h:message
									for="suburb"
									class="#{!suburb.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>

						<tr class="#{!state.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="state" for="state" /></td>
							<td><h:inputText id="state" value="#{property.state}"
									title="state" size="3" required="true"
									requiredMessage="Please enter the state!" pt:placeholder="VIC" />
								<br /> <h:message for="state"
									class="#{!state.valid ? 'label label-warning' : 'none'}" /></td>

						</tr>
						<tr class="#{!postcode.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="postcode" for="postcode" /></td>
							<td><h:inputText id="postcode" value="#{property.postcode}"
									title="postcode" required="true"
									requiredMessage="Please enter the postcode!"
									validatorMessage="Please enter a postcode between 0200 and 4700"
									converterMessage="Please enter a number" pt:placeholder="3145">
									<f:convertNumber integerOnly="true" />
									<f:validateLongRange minimum="200" maximum="4700" />
								</h:inputText> <br /> <h:message for="postcode"
									class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
							</td>

						</tr>
						
						<tr>
							<td><h:outputLabel value="Contact Person:" for="contact" /></td>
							<td><h:selectOneMenu id="contact" value="#{property.contactPerson}" >
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{propertyManagedBean.allContactPeople}"
										var="c" itemLabel="#{c.name}" itemValue="#{c}" />
								
								</h:selectOneMenu></td>
						</tr>

                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addProperty.addProperty(property)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

