<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Add Contact Person
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                	<tr class="#{!contactName.valid ? 'has-error' : 'none'}">
							<td><h:outputLabel value="contactName" for="contactName" /></td>
							<td><h:inputText id="contactName" value="#{contact.name}"
									title="contactName" required="true"
									requiredMessage="Please enter the Contact Person Name!"
									pt:placeholder="contact Name" /> <br /> <h:message
									for="contactName"
									class="#{!contactName.valid ? 'label label-warning' : 'none'}" />
							</td>
					</tr>
					
					<tr class="#{!phoneNum.valid ? 'has-error' : 'none'}">
						<td><h:outputLabel value="phoneNum" for="phoneNum" /></td>
						<td><h:inputText id="phoneNum" value="#{contact.phoneNumber}"
								title="phoneNum" required="true"
								maxlength="9"
								requiredMessage="Please enter the Phone Number!"
								validatorMessage="Please enter a 10 digit phone number! "
								converterMessage="Please enter a number"
								pt:placeholder="0123456789" > 
								<f:convertNumber integerOnly="true" /> 
								<f:validateLength minimum="9" maximum="9" />
								</h:inputText> <br /> <h:message
								for="phoneNum"
								class="#{!phoneNum ? 'label label-warning' : 'none'}" />
						</td>
					</tr>
				

                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addContact.addContact(contact)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="contactlist.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

