<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

    <h:head>
			<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        	<title>Contact Person List</title> 
        </h:head>
<body> 
<div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Contact Person  List
                </div>
            </div>
            <h:form id="ContactForm">
                <table class="table table-bordered table-striped">
                    <!-- For each customer contact in properties ArrayList... --> 
                    <tr>
                       <td> 
                           <h:outputLabel id="Id" value="ID"  />
                       </td>
                       <td> 
                           <h:outputLabel id="customerContact" value="Contact Name"  />
                       </td>
                       <td> 
                           <h:outputLabel id="phoneNumber" value="Phone Number"  />
                       </td>
                        <td> 
                           <h:outputLabel id="operation" value="Operation"/>
                       </td>
                     </tr>
                     
                    <ui:repeat id="Myrepeat" value="#{propertyApplication.contacts}"  var="contact" varStatus="status"> 
                        
                        <tr > 
                            <td>
                                <h:outputText value="#{propertyApplication.contacts.get(status.index).conactPersonId}" id="contactID" /> 
                            </td>
        					<td>
                                <h:outputText value="#{propertyApplication.contacts.get(status.index).name}" id="contactName" /> 
                            </td>
                            <td>
                                <h:outputText value="#{propertyApplication.contacts.get(status.index).phoneNumber}" id="contactPhone" /> 
                            </td>
                  
                           
                            <td>
                                <h:link value="View | " outcome="detailContact.xhtml">
                                <!-- pass the parameter to next page, the param name is contactID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="contactID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="editContact.xhtml">
                                <!-- pass the parameter to next page, the param name is contactID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="contactID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeContact.removeContact(propertyApplication.contacts.get(status.index).conactPersonId)}" disabled="#{propertyApplication.contacts.get(status.index).conactPersonId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 
                    

                </table>
                
                <div>
                    <h:commandButton id="add" value="Add" action="addContact.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAll" value="View All" action="#{searchContact.searchAllContact()}" class="btn btn-primary" >
                        <f:param name="Index" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchContact.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchContact.searchContactById(searchContact.searchByInt)}" class="btn btn-primary" >
                        <f:param name="Index" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                </h:form>
                
                <br/>
        		<br/>
        		<h:link outcome = "welcome.xhtml" value = "Back to Home" />
                </div>
</body> 
</html>
