<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Property
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                
             	    <tr>
                        <td width ="100" valign="top">Customer Name: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "CustomerName" >#{propertyController.property.customerName}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{propertyController.property.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{propertyController.property.address}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry Type: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "IndustryType" >#{propertyController.property.industryType}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "CustomerPhoneNum" >#{propertyController.property.customerPhoneNum}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "Email" >#{propertyController.property.email}</h:outputLabel>    
                        </td>
                    </tr>
                   
                    <tr>
                        <td width ="100" valign="top">Contact Person: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "ContactName" >#{propertyController.property.contactPerson.toString()}</h:outputLabel>    
                        </td>
                    </tr>
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
               
            </h:form>
        </div>
    </h:body>
</html>

