<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Contact Person Detail</title> 
    </h:head>
     <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Contact Person Detail
                </div>
            </div>

            <h:form id="ContactForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.conactPersonId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="150" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "name" >#{contactController.contact.name}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="150" valign="top">Phone Number:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "phoneNum" >#{contactController.contact.phoneNumber}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    
					
                    </table>
                    
                
               
                <h:link id="close" value="Close" outcome="contactlist.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

