<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Edit Contact</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Edit Contact
                </div>
            </div>

            <h:form id="ContactForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.conactPersonId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Contact Name: </td>

                        <td valign="bottom">
                            <h:inputText id = "ContactName" value="#{contactController.contact.name}"  required="true"
                                         validatorMessage="Please enter a valid Contact Name"
                                         requiredMessage="Please enter the Contact Name. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Contact Phone Number: </td>

                        <td valign="bottom">
                            <h:inputText id="phoneNum" value="#{contactController.contact.phoneNumber}"
								title="phoneNum" required="true"
								maxlength="9"
								requiredMessage="Please enter the Phone Number!"
								validatorMessage="Please enter a 10 digit phone number! "
								converterMessage="Please enter a number" > 
								<f:convertNumber integerOnly="true" /> 
								<f:validateLength minimum="9" maximum="9" />
								</h:inputText> <br /> <h:message
								for="phoneNum"
								class="#{!phoneNum ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
					
                    </table>
                    
                
                <h:commandButton id="save" value="Save" action="#{propertyManagedBean.editContact(contactController.contact)}"  class="btn btn-primary" >
                    <f:param name="contactID" value="#{contactController.contactId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="contactlist.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

