<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
        <title>Administration</title>
    </h:head>
    <h:body>
        <h1>Welcome to Administration Area</h1>
        <br/>
        <h:link outcome = "index.xhtml" value = "Manage Customers" />
        <br/>
        <h:link outcome = "contactlist.xhtml" value = "Manage Contact Person" />
        <br/>
        <br/>
        <h:link outcome = "/home.xhtml" value = "Back to Navigation" />
    </h:body>
   
</html>
