<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Error Page</title>
    </h:head>
    <h:body>
        <h1>Sorry, you don't have access to this area. </h1>
        <p>Please Go Back To Home <h:link outcome="home" value="Home" /> </p>
    </h:body>
</html>

