<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Sign In</title>
    </h:head>
    <h:body>
        <h1>Navigation</h1>
        <p><h:outputLink value="admin/welcome.xhtml">Admin Log In</h:outputLink></p>
        <p><h:outputLink value="user/welcome.xhtml">User Log In</h:outputLink></p>
		
    </h:body>
</html>

